<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Add</title>
    <h1> <center> Add New </h1> </center>
  </head>
  <body>
    <form class="" action="" method="post">
      <!-- ID:<br>
      <input type="text" name="id"><br> -->
      String : <br>
      <input type="text" name="string"> <br>
      Integer: <br>
      <input type="integer" name="integer"> <br>
      Float : <br>
      <input type="float" name="float"> <br>
      Date : <br>
      <input type="date" name="date1"> <br>
      Boolean :
      <select name="boolean">
        <option value=" true"> True </option>
        <option value=" false"> False </option>
      </select> <br>

    <br>  <button type="submit" class ="button"=>Add New</button>
    </form> <br>
  </body>
</html>
